
.section
	&_adventures
		background url('../assets/svg/triangle.svg')
		background-repeat no-repeat
		background-size cover
		background-position 100% 100%
		margin-top: -468px
		margin-top -503px
		padding-bottom: 180px
		

		h2
			padding-top 50px
			
			@media screen and (max-width: 1024px)
				padding-top 20px
		
		@media screen and (min-width: 2170px)
			margin-top: -764px

		@media screen and (max-width: 1024px)
			margin-top -330px
			margin-top: -392px

		@media screen and (max-width: 812px)
			margin-top -400px

		@media screen and (max-width: 500px)
			margin-top -300px
			padding-bottom: 20px

.block-col-item
	width 33.33%

	@media screen and (max-width: 720px)
		width 100%

.block-multiple-wrapper
	display flex
	flex-wrap wrap

.col-text
	max-width 306px
	width 100%
	padding-right 20px

	@media screen and (max-width: 720px)
		max-width 263px

	h3
		font-size: 24px
		font-weight: 700
		color: #090909

	p
		font-size: 14px
		font-weight: 400
		line-height: 22px
