mixin b-advantages(data)
	H2 Veritatis llam

	+b.block-multiple-wrapper

		.block-col-item
			+b('img').col-bg(src='/assets/svg/Continuous-development.svg')
			+b.col-text
				+e('h3')  Veritatis laboriosam
				p 	 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis laboriosam molestiae hic enim, animi officia soluta consequatur, fugit, ullam omnis dolores officiis labore deleniti libero quos rem minus id voluptate.

		.block-col-item
			+b('img').col-bg(src='/assets/svg/Innovative.svg')
			+b.col-text
				+e('h3') Lorem ipsum dolor sit amet
				p Ullam omnis dolores officiis labore

		.block-col-item
			+b('img').col-bg(src='/assets/svg/Secure.svg')
			+b.col-text
				+e('h3') Officiis labore
				p 	 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum reiciendis ducimus pariatur cum aperiam quo consectetur laboriosam, nostrum. Et, culpa at dolores labore eius obcaecati ut odio dolor fugit unde!
