extends layouts/aboutLayout

//- append aboutParams
	- title = 'About'

//- block content
//- 	+b('section').section._dark._about
//- 			+e.wrapper
//- 				+b-about({section: globals.section})

//- 	+b('section').section._light._contacts
//- 		+e.wrapper
//- 			+b-contacts()
