extends root

block content
	+header({header: globals.header, menu: globals.menu})

	main.main.vacancy-page
		block main
			+b('section').section._light
				+e.wrapper
					+b-breadcrumbs()

			+b('section').section._light.section_vacancy
				+e.wrapper.section__wrapper-col
					+b-vacancy()
					+b-vacancy-popup()

			+b('section').section._light._contacts.contacts-services
				+e.wrapper
					+b-contacts-small()
					+b-contacts-only-form-classes-popup()

	+footer({footer: globals.footer, menu: globals.menu})
