mixin b-vacancy(data)
    H1 Vacancy

    +b('h3') England, London

    +b.block-multiple-wrapper
        +b.w-half
            .w-half__wrapper
                .item-row
                    H4 UI/UX Designer

                .item-row
                    +b.btn-b-wrapper
                        +b.btn-wrap.__purple.pop-up-btn.vacancy-popup
                            +e.link Details

        +b.w-half
            .w-half__wrapper
                .item-row
                    H4 Senior ASP.NET Engin

                .item-row
                    +b.btn-b-wrapper
                        +b.btn-wrap.__purple.pop-up-btn.vacancy-popup
                            +e.link Details

        +b.w-half
            .w-half__wrapper
                .item-row
                    H4 Senior ASP.NET Engin

                .item-row
                    +b.btn-b-wrapper
                        +b.btn-wrap.__purple.pop-up-btn.vacancy-popup
                            +e.link Details