.two-column {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 100%;
	margin: 20px 0 50px;

	p {
		padding: 20px;
		text-align: left;
		line-height: normal;
		font-size: 16px;
		font-weight: 700;
		line-height: 26px;
	}
}

.col {
	width: 50%;
	float: left;

	&-text {
		padding-right: 40px;
		padding-top: 0;
	}

	&-img iframe {
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    width: 100%;
	    max-width: 446px;
	    margin: 0 auto;
	    position: relative;
	}
}

.col-video {
	position: relative;

	video {
		width: 100%;
	}
	margin: 0 auto;

	&::before {
		content: ' ';
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-repeat: no-repeat;
		width: 122px;
		height: 122px;
		cursor: pointer;
	}
}


.product-page {
	font-size: 16px;
	font-weight: 700;
	line-height: 26px;

	&::before {
		content: " ";
		background-image: url('../../images/bg/bg-step-1.jpg');
		background-repeat: no-repeat;
	    background-size: cover;
	    background-position: 50% 50%;
	    background-attachment: fixed;
	    z-index: -1;
	    width: 100%;
	    height: 100vh;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    position: fixed;
	}

	&::after {
		content: "";
		background-repeat: no-repeat;
	    background-position: 0% 100%;
	    z-index: -1;
	    width: 100%;
	    height: 100vh;
	    bottom: 0;
	    left: 0;
	    position: absolute;
	}

	h1 {
		text-align: center;
	}

	&__m {
		.btn-wrapper a,
		.btn-wrapper span {
			background-color: #7acbf2;
			background-image: none;
		}



		&::after {
			background-image: url('../../images/toys/plane.png');
		}

		// .col-video::before {
		// 	background: url('../../images/icons/play-btn-blue.png');
		// }

		.playpause {
		    background-image:url('../../images/icons/play-btn-blue.png');
		    background-repeat:no-repeat;
		    width:50%;
		    height:50%;
		    position:absolute;
		    left:0%;
		    right:0%;
		    top:0%;
		    bottom:0%;
		    margin:auto;
		    background-size:contain;
		    background-position: center;

		    width: 122px;
		    height: 122px;
		    cursor: pointer;
		}
	}

	&__w {
		a {
			color: #f191bc;
		}



		.btn-wrapper a,
		.btn-wrapper span {
			background-color: #f191bc;
			background-image: none;
		}
		// .col-video::before {
		// 	background: url('../../images/icons/play-btn-pink.png');
		// }

		&::after {
			background-image: url('../../images/toys/doll.png');
		}


		.playpause {
			background-image:url('../../images/icons/play-btn-pink.png');
			background-repeat:no-repeat;
			width:50%;
			height:50%;
			position:absolute;
			left:0%;
			right:0%;
			top:0%;
			bottom:0%;
			margin:auto;
			background-size:contain;
			background-position: center;

			width: 122px;
			height: 122px;
			cursor: pointer;
		}
	}
}


.owl-carousel {
	display: flex;
	justify-content: space-around;

	div {
		p {
			padding: 16px 16px;
			text-align: center;
			color: #333;
			font-size: 16px;
			font-weight: 700;
			font-variant: small-caps;
		}

		img {
			width: auto;
			text-align: center;
			margin: auto;
		}
	}
}

.owl-carousel .owl-item img {
	min-height: 200px;
	width: auto!important;
}

.owl-prev {
	width: 34px;
	height: 34px;
	background-color: #d44515;
	position: absolute;
	border-radius: 50%;
	top: 50%;
    margin-top: -20px;
	left: 40px;

	svg {
		width: 34px;
		height: 34px;
		fill: #fff;
	}
}

.owl-next  {
	width: 34px;
	height: 34px;
	background-color: #d44515;
	position: absolute;
	border-radius: 50%;
	top: 50%;
    margin-top: -20px;
	right: 40px;

	svg {
		width: 34px;
		height: 34px;
		fill: #fff;
	}
}

.prop {
	&-item {
		display: flex;
		align-items: center;

		&:nth-of-type(n+1) {
			margin-top: -10px;
		}
	}

	&-img {
		width: 53px;
		height: 53px;
		margin-right: 27px;

		img {
			width: 100%;
		}
	}
}

.section-properties {
	text-align: center;

	.two-column {
		justify-content: center;
	}
	.col {
		max-width: 300px;
	}
}

.share {
	&-item {
		display: flex;
		-webkit-align-items: center;
	    -ms-flex-align: center;
	    -webkit-box-align: center;
	    align-items: center;
	    margin-top: -170px;

	}

	&-block {
		padding-left: 20px;

	}

	&-text {
		margin-right: 12px;
		width: 100%;
		max-width: 135px;
	}

	&-btns {
		display: flex;
	}
}

.download-btn {
	width: 33px;
	height: 33px;
	margin: 12px;
}

.download-block {
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;
}

a {
	color: #7acbf2;
	font-size: 16px;
	font-weight: 700;
	font-variant: small-caps;
}

.st-custom-button {
	width: 36px;
    height: 36px;
    margin: 12px;
    // background-color: #7acbf2;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: justify;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    color: #FFF;
    float: left;
    margin: 12px;
    cursor: pointer;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}

.step-line {
	img {
		display: block;
	}
}
/* share buttons style  */


/* STEP 1 */
.step-page {
	position: relative;

	form {
		max-width: 445px;
		padding: 20px 20px;
		margin: 10px auto;
		text-align: center;
	}

	&::after {
		background-repeat: no-repeat;
	    background-size: cover;
	    background-position: 50% 50%;
	    background-size: contain;
    	background-position: 0% 100%;
	    background-attachment: fixed;
	    z-index: -1;
	    width: 100%;
	    height: 100vh;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    position: fixed;
	}


	.step-item {
		display: flex;
		align-items: center;
		padding: 15px 0;
		text-align: left;

		&>label {
			min-width: 122px;
		}

		&__left {
			margin-right: 20px;
			margin-top: 10px;
		}

		&__right {
			margin-top: 10px;
		}
	}

	&-1 {
		.btn-wrapper__next {
			text-align: center;
			margin: auto;
		}

    	&::after {
    		background: url('../../images/bg/step-1-bg.png');
    		background-repeat: no-repeat;
		    background-size: cover;
		    background-position: 50% 50%;
		    background-size: contain;
	    	background-position: 0% 100%;
		    background-attachment: fixed;
		    z-index: -1;
		    width: 100%;
		    height: 100vh;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    position: fixed;
    	}
    }

    &-2 {
    	form {
			max-width: 1002px;
    		width: 100%;
    	}

    	.step-item {
    		max-width: 477px;
    		margin: auto;
    		padding: 50px 20px;
    		align-items: flex-end;
    		justify-content: space-between;

    		p {
    			b {
    				font-weight: bold;
    			}
    		}

    		h3 {
    			font-size: 18px;
    			font-weight: 700;
    		}
    	}

    	&::after {
    		background: url('../../images/bg/step-2-bg.png');
    		background-repeat: no-repeat;
		    background-size: 100%;
	    	background-position: 0% 100%;
		    background-attachment: fixed;
		    background-size: 100%;
		    z-index: -1;
		    width: 100%;
		    height: 100vh;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    position: fixed;
    	}

    	.btn-wrapper a,
    	.btn-wrapper span,
    	.btn-wrapper div {
    		padding: 14px 22px;
    	}

    	.btn-block {
    		justify-content: space-between;
    		max-width: 477px;
    		margin: auto;
    	}
    }

    &-3 {
    	form {
    		max-width: 546px;
    	}

    	.btn-wrapper  {
    		padding: 0;

    		span, a {
    			margin: 30px 0;
    			padding: 12px 45px;
    			font-size: 14px;
    		}
    	}

    	.btn-block {

    	}

    	&::after {
    		background: url('../../images/bg/bg-3.png');
    		background-repeat: no-repeat;
		    background-size: 100%;
	    	background-position: 0% 100%;
		    background-attachment: fixed;
		    background-size: 100%;
		    z-index: -1;
		    width: 100%;
		    height: 100vh;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    position: fixed;
    	}
    }

    &-4 {
    	&::after {
    		background: url('../../images/bg/bg-3.png');
    		background-repeat: no-repeat;
		    background-size: 100%;
	    	background-position: 0% 100%;
		    background-attachment: fixed;
		    background-size: 100%;
		    z-index: -1;
		    width: 100%;
		    height: 100vh;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    position: fixed;
    	}
    }

	label {

		white-space: nowrap;
		margin-right: 10px;
	}

	input {
		padding: 6px 30px;
	}

	input,
	select {
		width: 100%;
		margin: 0 10px 0 0;
		border-radius: 16px;
		border: 1px solid #ccc;
		background-color: #fff;
		font-size: 14px;
		font-weight: 700;
		font-variant: small-caps;

		&:placeholder {
			color: #ccc;
		}
	}

	select {
		height: 35px;
		margin: 0;
		cursor: pointer;
	}

	select[name="date"] {
		width: 69px;
		margin-left: 10px;
	}

	select[name="month"] {
		// width: 123px;
		width: 115px;
		margin: 0 5px;
	}

	select[name="year"]{
		width: 77px;
	}
}

.birth {
	&-info {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
}

.select-wrapper {
	height: 35px;
    width: 100%;
    margin: 5px 0;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
}

.arr-down {
	background: url('../../images/icons/arrow-down.png');
	background-repeat: no-repeat;
    background-position-x: 85%;
    background-position-y: center;
    padding: 0 15px;
    height: 100%;
    max-height: 35px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.gender-item {
	display: flex;
	align-items: center;
	margin-left: 10px;
	cursor: pointer;

	input[type="radio"] {
		width: 30px;
		height: 13px;
	}
}

.radio-style {
	display: flex;
	position: relative;
	width: 48px;
	margin: 20px;
	border-radius: 8px;
	border: 1px solid #ccc;
	background-color: #fff;

	input {
		&:first-of-type {
			left: 0;
		}

		&:nth-of-type(2) {
			right: 0;
		}
	}

	input[type="radio"] {
		margin: 0;
		padding: 0;

		content: '';
		display: block;
		width: 22px;
		height: 22px;
		position: absolute;
		top: 0;
		border: 1px solid #666;
		background: #fff;
		border-radius: 50%;

		&:checked + label:after {
			content: '';
			display: block;
			width: 30px;
			height: 30px;
			background: #01385f;
			position: absolute;
			border-radius: 50%;
			top: 7px;
			left: 0px;
			background: red;
		}
	}
}

.slider.slider-horizontal .slider-track {
	margin-top: -1px;
	height: 3px;
}

.slider.slider-horizontal .slider-selection,
.slider.slider-horizontal .slider-track-low,
.slider.slider-horizontal .slider-track-high {
	top: -1px;
	height: 8px;
}

.container {
	display: block;
	position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:first-of-type {
    	padding-right: 10px;

    	.checkmark {
    		right: 0;
    	}
    }

    &:last-of-type {
    	padding-left: 15px;

    	.checkmark {
    		left: 0;
    	}
    }
}

.checkmark {
    position: absolute;
    top: -8px;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.container input:checked ~ .checkmark {
    width: 29px;
	height: 29px;
	background-color: #ff8a8a;
	cursor: pointer;
}

.container:last-of-type input:checked ~ .checkmark {
	right: 0;
	left: unset;
}

// v2 input 
.slider-selection {
	background: #ff8a8a !important;
	box-shadow: none;
}

.slider.slider-horizontal {
    height: 20px;
}

.slider-handle {
	background-color: #ff8a8a !important;
	background-image: none !important;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #bdbdbd !important;
    text-align: center;
    background-color: transparent !important;
    border-radius: 4px;
}

.tooltip.top .tooltip-arrow {
    display: none !important;
}

.step {
	&-line {
		&__1 {
			background: url('../../images/step-1-line.png');
			background-repeat: no-repeat;
			width: 100%;
			height: 140px;
		}

		&__2 {
			background: url('../../images/step-2-line.png');
			background-repeat: no-repeat;
			width: 100%;
			height: 140px;
		}

		&__3 {
			background: url('../../images/step-3-line.png');
			background-repeat: no-repeat;
			width: 100%;
			height: 140px;
		}
	}
}

/* STEP 2 */

.step-info-item {
	margin: 50px auto;
	background-color: #ff8a8a;

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 674px;
		margin: auto;
		padding: 6px 20px;
		text-align: left;
	}

	.btn-wrapper  {

		span, a {
			display: flex;
			margin: 0 0 0 20px;
			padding: 9px 17px;
			background-image: none;
			background: #fff;
			color: #ff8a8a;
			font-size: 12px;
			line-height: 15.17px;
		}
	}

	&__text {
		color: #fff;
		font-size: 14px;
	}
}

.download-item {
	width: 252px;
	height: 173px;
	border: 2px dashed #999;
	position: relative;

	display: flex;
    align-items: center;
    justify-content: center;

	label {
		display: inline-block;
	}
}

input.image-download {
	border-radius: 0;


	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
	text-align: center;
}

.image-download + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    white-space: normal;
}

.image-download:focus + label,
.image-download + label:hover {
    background-color: red;
}

.image-download + label {
	cursor: pointer; /* "hand" cursor */
}

label.custom-file-upload {
	position: relative;
	display: block;
	white-space: unset;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: rgba(255, 255, 255, .7);
	background-image:url('../../images/icons/download.png');
	cursor: pointer;

	background-position: 50%;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	padding: 5px;
	margin: 0;
	border: none;
	font-size: 14px;
	line-height: 20px;
	font-weight: 700;

	&::after {
		display: block;
		content: "Yüklə";
		color: #333;
		font-size: 16px;
		line-height: normal;
		font-weight: 700;
		text-transform: uppercase;
		background: #ff8a8a;
		border-radius: 17px;
		margin: 10px;
		padding: 7px 30px;
	}

	.close {
		position: absolute;
		background: url('../../images/icons/close.png');
		background-repeat: no-repeat;
		background-size: cover;
		width: 20px;
		height: 20px;
		top: 5px;
		right: 5px;
	}
}

.photo-example {
	display: block;
	padding:  0 0 10px;
	color: #333;
	line-height: normal;
}

.photo-preview {
	width: 145px;
	height: 98px;
	margin-top: 10px;
	border: 2px dashed #999;
	position: relative;
	padding: 1px;
	overflow: hidden;

	img {
		display: block;
		max-width: 100%;
		width: auto;
		height: auto;
	}
}

// step 3
.data-item {
	padding: 0 0 0;
	display: flex;
	align-items: flex-start;
	flex-direction: column;

	input {
		padding: 8px 27px;
		line-height: normal;
		order: 2;
	}
	&:placeholder {
		color: #ccc;
		font-size: 14px;
		font-weight: 700;
		font-variant: small-caps;
	}
}

.label-contacts {
	visibility: hidden;
	order: 1;
	transition: .2s ease-in-out;
	padding-left: 27px;
}

.step-page input[type="text"]:focus ~ .label-contacts,
.step-page input[type="email"]:focus ~ .label-contacts {
		visibility: visible;
		transition: .2s ease-in-out;
	}

.data-item__phone {
	padding: 10px 0 0;
	display: flex;
	align-items: flex-start;
	flex-direction: column;

	select,
	input {
		width: auto;
	}

	.select-wrapper {
		width: auto;
		order: 1;
	}

	input {
		order: 2;
	}
}

// .step-page select[name="phone"] {
//     width: 69px;
//     margin-right: 5px;
// }

.step-page input[type="text"] {
	margin-left: 15px;
	padding-right: 2px !important;
}

.user-data {
	display: flex;
	width: 100%;



	&__item {
		margin: 15px 0 0;
	}

	&__data {
		margin-top: -15px;
		margin-right: 20px;
	}

	&__info {
		position: relative;

		p {
			display: flex;
			max-width: 210px;
			padding: 0 10px 10px 10px;
			color: rgba(51,51,51, .68);
			font-size: 12px;
			line-height: 18px;
			padding-left: 30px;

			&::before {
				display: block;
				position: absolute;
				left: 0;
				width: 23px;
				height: 23px;
				content: "";
				background: url('../../images/icons/exclamation.png');
			}
		}
	}
}


// checkbox

label.checkbox-block-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    position: relative;
    font-weight: 300;
    margin: 0;
    padding: 10px 10px 0;
    white-space: unset;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin-right: 35px;
    display: none;
    visibility: hidden;
    cursor: pointer;
}

.checkbox-block-wrapper-text {
    margin-left: 15px;
    font-size: 12px;
    line-height: normal;
    font-weight: 300;
    text-align: left;
    color: #333;
    color: rgba(51, 51, 51, 0.68);
}

.checkbox-block-wrapper > input[type="checkbox"] + .checkbox-block-wrapper-text::before {
    content: "";
    border: 1px solid #999;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: transparent;
    // background-color: white;
    -webkit-border-radius: 5px;
    border-radius: 3px;
    display: inline-block;
    font-size: 14px;
    margin: 0 20px 0 0;
    position: absolute;
    left: 0;
    top: 9px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.checkbox-block-wrapper input[type="checkbox"]:checked + .checkbox-block-wrapper-text::before {
    background-image: url('../../images/icons/checkmark.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: inline-block;
    font-weight: 900;
    background-color: white;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

// step 4

.success-block {
	text-align: center;
	margin: 20px auto 0;

	img {
		text-align: center;
		width: 222px;
		height: 222px;
	}
}
