mixin b-interaction(data)
	H2 	 Fugit porro

	+b.block-multiple-wrapper

		+b.block-col-item
			+b.col-text
				+e('h3') Lorem ipsum
				p 	 Lorem ipsum dolor sit amet, consectetur adipisicing elit

		+b.block-col-item
			+b.col-text
				+e('h3') Consequatur
				p  Autem repudiandae reiciendis rerum, rem nesciunt commodi dolore

		//- image in the middle
		//- +b.block-col-item.__special
		//- 	+b.col-text
		//- 		+b('img').col-bg(src='https://upload.wikimedia.org/wikipedia/commons/3/39/Books_Silhouette.svg')

		+b.block-col-item
			+b.col-text
				+e('h3') Consequatur
				p Autem repudiandae. Consequatur sunt qui, molestiae eaque quia

		+b.block-col-item
			+b.col-text
				+e('h3') Finance
				p Consequatur sunt qui, molestiae eaque quia
