
// @font-face {
//     font-family: 'Circe Extra Bold';
//     src: url('../fonts/Circe/Circe-ExtraBold.otf');
//     // font-weight: 900;
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: 'Cera', sans-serif;
    src: url('../fonts/Cera-Bold.ttf');
    // font-weight: 700;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cera', sans-serif;
    src: url('../fonts/Cera-Light.ttf');
    // font-weight: 700;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cera', sans-serif;
    src: url('../fonts/Cera-Medium.woff');
    // font-weight: 700;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cera', sans-serif;
    src: url('../fonts/Cera-Black.ttf');
    // font-weight: 700;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cera', sans-serif;
    src: url('../fonts/Cera-Regular.ttf');
    // font-weight: 700;
    font-weight: normal;
    font-style: normal;
}