mixin b-services(data)
    H1 Aperiam

    +b.two-col
        +b.w-half
            +b('h3') Aperiam nemo

            +b('ul').ul-list
                li Iste porro architecto
                li Lorem ipsum
                li Voluptatem

            +b('p') Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste porro architecto autem omnis maiores consequuntur voluptatum quibusdam repellendus, ea earum veniam animi adipisci aliquid suscipit magni eaque, ratione aperiam nemo.

        +b.w-half
            +b('h3')  Voluptatem sapiente tempora

            +b('ul').ul-list
                li Iste porro architecto autem omnis. Lorem ipsum dolor sit amet, consectetur adipisicing elit


    +b.two-col
        +b.w-half
            +b('h3') Rerum autem cumque

            +b('ul').ul-list
                li Ab debitis nihil

            +b('p')  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae totam temporibus repudiandae dolorum, commodi, voluptates. Rerum autem cumque ullam deserunt, tenetur neque laudantium velit ducimus. Voluptatem sapiente tempora eius laboriosam!


        +b.w-half
            +b('h3') Lorem ipsum dolor sit amet

            +b('ul').ul-list
                li  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ratione ea eligendi perspiciatis, facere quisquam voluptas dicta odio molestiae esse officia non voluptatibus voluptatum? Ab debitis nihil veniam magni sunt!

