.services-page
	overflow hidden

.section
	&_services
		position relative
		
		p
			color: #090909
			font-size: 14px
			font-weight: 400
			line-height: 22px
		// padding 60px 0 440px
		// padding 60px 0 10px
		// background url('../assets/svg/img-bg-special-s.svg')
		// background-color: #f7f6ff
		// background-repeat no-repeat
		// background-size cover
		// background-position 100% 100%
		// position relative

	