/* ============= HEADER ============= */
header {
	ul {
		@include flex-container;
		@include flex-align-items-center;
		margin-top: 30px;
	}

	li {
		margin: 0;
	}
}

.prod-logo {
	width: 100%;
	max-width: 225px;
	float: left;
}

.menu-wrapper {
	@include flex-container;
	float: right;

	a {
		display: block;
		color: #333;
		font-size: 16px;
		font-family: 'Circe Rounded Alt Bold';
		margin-left: 36px;
		border-bottom: 1px solid transparent;
		@include transition-ease-in-out;

		&:hover {
			border-bottom: 1px solid #000;
		}

		&.soc-fb {
			border-bottom: 1px solid transparent;
		}
	}
}

header .block-wrapper {
	@include flex-container;
    @include flex-align-items-center;
    @include flex-justify-content-space-between;
}
/* ============= HEADER END ============= */
