-
	var globals = {

		header: {
			// logo: '/assets/img/logo/logo-w.svg',
			// logo: '/assets/img/logo/logo-dark.svg',
			title: 'logo',
			url: '/index.html'
		},

		footer: {
			url: 'mailto:test@test.com',
			mail: 'test@test.com',
			rights: 'Lorem ipsum dolor sit'
		},
		menu: [{
			title: 'Lorem',
			url: 'about.html'
			},{
				title: 'Ladies',
				url: 'leaders.html'
			},{
				title: 'Dolor sit',
				url: 'solutions.html'
			},{
				title: 'Amet',
				url: 'services.html'
			},{
				title: 'Vacancy',
				url: 'vacancy.html'
			},{
				title: 'Contacts',
				url: 'contacts.html'
		}],

		section: {
			bg: '/assets/svg/illustration.svg',
			solution: '/assets/svg/hpc-cluster_2.svg',
			aboutPageBg: '/assets/svg/illustration_2.svg'
		},
		leaders: [{
			personName: 'Adela Norton',
			personPosition: 'Founder and CEO',
			personDescription: 'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo',
			personImg: '/assets/img/img-1.jpg',
			},
			{
			personName: 'Grace Summers',
			personPosition: 'Financial Director',
			personDescription: 'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium',
			personImg: '/assets/img/img-2.jpg',
			},
			{
			personName: 'Lindsay Anthony',
			personPosition: 'Expert',
			personDescription: 'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore',
			personImg: '/assets/img/img-3.jpg',
			},
			{
			personName: 'Adela Norton',
			personPosition: 'CEO',
			personDescription: 'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo',
			personImg: '/assets/img/img-4.jpg',
			},
			{
			personName: 'Adela Norton',
			personPosition: 'Co-founder',
			personDescription: 'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo',
			personImg: '/assets/img/img-5.jpg',
			},
			{
			personName: 'Adela Norton',
			personPosition: 'CEO',
			personDescription: 'Sed ut perspiciatis unde omnis ',
			personImg: '/assets/img/img-6.jpg',
		}],

	}