/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Cera', sans-serif;
  src: url("../fonts/Cera-Bold.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Cera', sans-serif;
  src: url("../fonts/Cera-Light.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Cera', sans-serif;
  src: url("../fonts/Cera-Medium.woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Cera', sans-serif;
  src: url("../fonts/Cera-Black.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Cera', sans-serif;
  src: url("../fonts/Cera-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

/*  FLEX SETTINGS */
/*  FLEX SETTINGS END */
.section-wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center; }
  .section-wrapper__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

section ul li {
  list-style-type: disc; }

section ol li {
  list-style-type: decimal; }

section ol,
section ul {
  margin-left: 25px;
  padding-left: 30px; }
  section ol li,
  section ul li {
    line-height: 1.5; }

a,
a:link,
a:visited,
a:focus {
  cursor: pointer;
  text-decoration: none; }

a {
  -webkit-transition: ease-out .3s;
  transition: ease-out .3s; }

.no-scroll {
  position: fixed;
  overflow: hidden; }

/* sticky footer */
html,
body {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  color: #8f8d8d;
  overflow-x: hidden;
  width: 100vw; }

main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

section {
  width: 100%; }

/* sticky footer END */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  font-family: 'Raleway', sans-serif; }
  *:focus, *:hover {
    outline: transparent; }

h1 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal; }

h2 {
  font-size: 20px;
  color: #cedb41; }

h3 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: 0.5px; }

h4 {
  font-size: 18px;
  font-style: normal;
  font-stretch: normal; }

.block-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 20px 0; }

p {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal; }

/* ============= HEADER ============= */
header {
  border-bottom: 1px solid rgba(120, 144, 156, 0.2); }
  header ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
    width: 100%;
    width: auto;
    margin-bottom: -21px;
    margin-bottom: -21px;
    white-space: nowrap;
    scroll-behavior: smooth;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px; }
  header .block-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center; }

.menu-wrapper {
  width: auto;
  -webkit-box-flex: 6;
  -webkit-flex: 6;
      -ms-flex: 6;
          flex: 6; }
  .menu-wrapper li a {
    position: relative;
    display: block;
    margin: 0 8px;
    margin-bottom: 21px;
    font-family: 'Cera', sans-serif;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: 0.5px;
    color: #000;
    border-bottom: 1px solid transparent;
    white-space: nowrap;
    text-transform: uppercase; }
    .menu-wrapper li a::after {
      content: " ";
      display: block;
      position: absolute;
      height: 8px;
      width: 90%;
      background-color: transparent;
      bottom: 0;
      z-index: -1;
      -webkit-transition: .2s ease-in-out;
      transition: .2s ease-in-out; }
    .menu-wrapper li a:hover::after {
      background-color: #ffff02; }

li a.active {
  position: relative; }
  li a.active::after {
    content: " ";
    display: block;
    position: absolute;
    height: 8px;
    width: 90%;
    background-color: #ffff02;
    bottom: 0; }

.prod-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 240px;
  min-width: 180px;
  width: 100%;
  height: 40px;
  z-index: 201;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url("../img/logo/logo-l-l.png") no-repeat;
  background-size: contain;
  background-position: 0% 50%; }

.logo-text {
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #000; }

.user-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center; }

.user-item {
  max-width: 20px;
  width: auto;
  margin: 0 13.5px; }
  .user-item a {
    display: block;
    position: relative;
    cursor: pointer; }

.user-icon .notification-sign {
  top: -5px;
  right: -29px; }

.user-icon img {
  width: 40px;
  height: 40px; }

.notification-item {
  position: relative; }

.notification-sign {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  content: " ";
  right: -14px;
  top: -17px;
  padding: 4px;
  width: 100%;
  background-color: #ff6f40;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  font-size: 11px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.91;
  letter-spacing: normal;
  text-align: center;
  color: #fff; }

.menu-wrapper li.item-more a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .menu-wrapper li.item-more a span {
    display: block;
    position: relative;
    width: 90%;
    background-color: transparent;
    top: -50%;
    left: 16px;
    font-size: 20px;
    -webkit-transform: translate(-50%, -22%);
        -ms-transform: translate(-50%, -22%);
            transform: translate(-50%, -22%);
    margin-right: 8px; }

/* ============= HEADER END ============= */
/* ============= FOOTER  ============= */
footer {
  border-top: 1px solid rgba(120, 144, 156, 0.2); }
  footer .img-b {
    background: url("../img/logo/logo-l-l.png") no-repeat;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 240px;
    width: 100%;
    height: 40px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-size: contain;
    background-position: 0% 50%; }
  footer .text-b {
    font-size: 13px;
    font-weight: 500;
    padding: 0 20px;
    color: #78909c;
    -webkit-box-flex: 2;
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2; }
    footer .text-b p:not(:last-of-type) {
      margin-bottom: 20px; }
  footer .os-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    footer .os-block img {
      display: block;
      max-width: 20px;
      width: 100%;
      height: 20px;
      margin: 0 0 0 10px; }
  footer .col-item {
    padding: 40px 0; }
    footer .col-item__os {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      width: auto; }
      footer .col-item__os p {
        font-size: 13px;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.83;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #000; }

/* ============= FOOTER END ============= */
.decor-line {
  display: block;
  border: 0;
  height: 1px;
  background: #cedb41;
  width: 45%;
  margin: 10px auto; }

.b-socials {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .b-socials a {
    margin: 0 20px; }

.fa {
  font-size: 40px !important;
  color: #cedb41; }

a {
  color: #cedb41;
  border-bottom: 1px solid transparent; }

.block-row__contacts {
  background-color: #8f8d8d;
  padding: 20px; }
  .block-row__contacts a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .block-row__contacts a .fa {
      margin-right: 20px; }

.two-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .two-col .block-col {
    width: 50%;
    margin: 40px 0;
    text-align: left; }
  .two-col .block-row {
    margin: 0; }

/* skills */
.block-col:first-of-type {
  border-right: 2px solid #cedb41;
  margin-right: 20px; }

.block-col__skills {
  margin: 40px 20px;
  text-align: left; }

.block-col__experience {
  margin: 40px 20px; }
  .block-col__experience .block-row {
    width: 50%; }
    .block-col__experience .block-row:first-of-type {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      border-right: 2px solid #cedb41;
      padding-right: 20px; }
    .block-col__experience .block-row:nth-of-type(2) {
      padding-left: 20px; }

.skills-block {
  margin-right: 40px; }
  .skills-block__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 20px 0; }
    .skills-block__item:last-of-type {
      margin-bottom: 0; }

.skills-title {
  font-size: 16px; }

.skills-level {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px; }
  .skills-level span {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #cedb41;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin: 0 5px; }
    .skills-level span.achieved {
      background: #cedb41; }

.tag-decor {
  padding: 5px;
  background: #cedb41; }
  .tag-decor h4 {
    font-size: 16px; }

.examples-sign {
  display: inline-block;
  position: relative;
  margin: -30px 0 0 20px;
  padding: 15px 35px;
  background-color: #8f8d8d;
  z-index: 10; }

/* ----- animated image ----- */
.wrapper-img *,
.wrapper-img *:before,
.wrapper-img *:after {
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1) !important;
          animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1) !important; }

.wrapper-img *:before,
.wrapper-img *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: ''; }

.wrapper-img div:before, .wrapper-img div:after {
  content: '';
  display: block;
  position: absolute; }

.face,
.hair,
.nose,
.ear,
.neck,
.sweater,
.fringe,
.eye,
.lips,
.eyebrow,
.blush {
  position: absolute; }

.wrapper-img {
  position: relative;
  margin: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  z-index: 10000;
  z-index: 9; }

.profile {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  overflow: hidden; }

.humanbody {
  -webkit-animation: body 12s none infinite;
          animation: body 12s none infinite;
  width: 45%;
  height: 100%; }

.head {
  -webkit-animation: head 45s none infinite;
          animation: head 45s none infinite;
  position: absolute;
  width: 70%;
  min-width: 200px; }

.face {
  -webkit-animation: face 45s none infinite;
          animation: face 45s none infinite;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  z-index: 20;
  top: 45px;
  left: 70px;
  width: 80px;
  height: 100px;
  background: #F0BEAF; }

.hair {
  z-index: 3;
  height: 180px;
  width: -webkit-calc(107px);
  width: calc(107px);
  -webkit-border-radius: 60px 60px 10px 10px;
          border-radius: 60px 60px 10px 10px;
  position: absolute;
  background: #8f6828;
  top: 25px;
  left: 25%; }

.fringe {
  position: absolute;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  top: 21px;
  right: 49px;
  height: 110px;
  width: 48px;
  border-right: #8f6828 solid 30px;
  -webkit-border-radius: 5px 100px 100px 50px;
          border-radius: 5px 100px 100px 50px;
  -webkit-transform: rotate(-43deg);
  -ms-transform: rotate(-43deg);
  transform: rotate(-45deg);
  z-index: 30; }

.forehead-dot {
  position: absolute;
  z-index: 30;
  top: 35px;
  left: 15px;
  width: 2px;
  height: 2px;
  background: #424B54;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%; }

.eyebrow {
  z-index: 20;
  top: 44px;
  left: 8px;
  width: 15px;
  height: 2px;
  background: black;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px; }

.eyebrow::before {
  position: absolute;
  content: '';
  left: 50px;
  width: 15px;
  height: 2px;
  background: black;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px; }

.eye {
  -webkit-animation: eyes 45s none infinite;
          animation: eyes 45s none infinite;
  position: absolute;
  top: 34%;
  width: 30%;
  height: 40%;
  -webkit-border-top-left-radius: 55% 50%;
          border-top-left-radius: 55% 50%;
  -webkit-border-top-right-radius: 45% 50%;
          border-top-right-radius: 45% 50%;
  z-index: 20; }

.eye:before {
  content: '';
  -webkit-animation: left-eye 45s none infinite;
          animation: left-eye 45s none infinite;
  height: 25%;
  width: 45%;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: black;
  top: 45%;
  left: 45%;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  z-index: 20;
  webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1) !important;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.45, 0.355, 1) !important;
          animation-timing-function: cubic-bezier(0.645, 0.45, 0.355, 1) !important; }

.eye + .eye {
  z-index: 20;
  right: initial;
  left: 62%;
  -webkit-border-top-right-radius: 55% 50%;
          border-top-right-radius: 55% 50%;
  -webkit-border-top-left-radius: 45% 50%;
          border-top-left-radius: 45% 50%; }

.blush {
  z-index: 999;
  top: 66%;
  left: 12%;
  width: 10px;
  height: 5px;
  background: #E3879E;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  opacity: .4; }

.blush:before {
  position: absolute;
  content: '';
  left: 50px;
  width: 10px;
  height: 7px;
  background: #E3879E;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%; }

.nose {
  z-index: 20;
  top: 62px;
  left: 37px;
  width: 5px;
  height: 10px;
  background: #DB9B99;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px; }

.mouth {
  z-index: 50;
  position: absolute;
  width: 48%;
  height: 55%;
  top: 80%;
  bottom: 15%;
  left: 28%;
  overflow: hidden; }

.mouth:before,
.mouth:after {
  width: 28%;
  height: 100%;
  top: -50%;
  left: 0;
  z-index: 3;
  -webkit-transform-origin: right top;
      -ms-transform-origin: right top;
          transform-origin: right top; }

.mouth:after {
  left: initial;
  right: 0;
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top; }

.lips {
  -webkit-animation: smile 30s infinite;
          animation: smile 30s infinite;
  -webkit-transition: 1s  ease-out;
  transition: 1s  ease-out;
  z-index: 2;
  height: 10%;
  width: 100%;
  left: 18%;
  color: #000; }

.lips:before,
.lips:after {
  width: -webkit-calc(50% + 1.5px);
  width: calc(50% + 1.5px);
  border-style: solid;
  border-width: 1px;
  border-style: solid;
  height: 100%;
  -webkit-border-bottom-left-radius: 50% 116%;
          border-bottom-left-radius: 50% 116%;
  -webkit-border-bottom-right-radius: 50% 100%;
          border-bottom-right-radius: 50% 100%;
  -webkit-border-top-right-radius: 0%;
          border-top-right-radius: 0%;
  -webkit-border-top-left-radius: 0%;
          border-top-left-radius: 0%;
  border-right-color: transparent;
  border-top-color: transparent; }

.neck {
  z-index: 13;
  width: 30px;
  height: 30px;
  background: #F0BEAF;
  top: 140px;
  left: 97px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 10px 10px 60px 60px; }

.sweater {
  z-index: 10;
  top: 150px;
  left: 60px;
  width: 100px;
  height: 150px;
  background: #cedb41;
  border-radius: 60px 60px 10px 10px;
  -webkit-border-radius: 60px 60px 10px 10px;
  -moz-border-radius: 60px 60px 10px 10px; }

@-webkit-keyframes head {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0); }
  6.66667% {
    -webkit-transform: translate(0);
            transform: translate(0); }
  13.33333% {
    -webkit-transform: translateX(0) rotateZ(0);
            transform: translateX(0) rotateZ(0); }
  20% {
    -webkit-transform: translateX(0) translate(0) rotateZ(-2deg);
            transform: translateX(0) translate(0) rotateZ(-2deg); }
  26.66667% {
    -webkit-transform: translateX(0) translate(0) rotateZ(-2deg);
            transform: translateX(0) translate(0) rotateZ(-2deg); }
  33.33333% {
    -webkit-transform: translateX(0) translate(0) rotateZ(-1deg);
            transform: translateX(0) translate(0) rotateZ(-1deg); }
  40% {
    -webkit-transform: translateX(0) translate(0) rotateZ(-2deg);
            transform: translateX(0) translate(0) rotateZ(-2deg); }
  46.66667% {
    -webkit-transform: translateX(0) translate(0);
            transform: translateX(0) translate(0); } }

@keyframes head {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0); }
  6.66667% {
    -webkit-transform: translate(0);
            transform: translate(0); }
  13.33333% {
    -webkit-transform: translateX(0) rotateZ(0);
            transform: translateX(0) rotateZ(0); }
  20% {
    -webkit-transform: translateX(0) translate(0) rotateZ(-2deg);
            transform: translateX(0) translate(0) rotateZ(-2deg); }
  26.66667% {
    -webkit-transform: translateX(0) translate(0) rotateZ(-2deg);
            transform: translateX(0) translate(0) rotateZ(-2deg); }
  33.33333% {
    -webkit-transform: translateX(0) translate(0) rotateZ(-1deg);
            transform: translateX(0) translate(0) rotateZ(-1deg); }
  40% {
    -webkit-transform: translateX(0) translate(0) rotateZ(-2deg);
            transform: translateX(0) translate(0) rotateZ(-2deg); }
  46.66667% {
    -webkit-transform: translateX(0) translate(0);
            transform: translateX(0) translate(0); } }

@-webkit-keyframes body {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0); }
  6.66667% {
    -webkit-transform: translateY(1%);
            transform: translateY(1%); }
  13.33333% {
    -webkit-transform: translate(0);
            transform: translate(0); }
  20% {
    -webkit-transform: translate(0);
            transform: translate(0); }
  26.66667% {
    -webkit-transform: translateY(2%);
            transform: translateY(2%); }
  33.33333% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes body {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0); }
  6.66667% {
    -webkit-transform: translateY(1%);
            transform: translateY(1%); }
  13.33333% {
    -webkit-transform: translate(0);
            transform: translate(0); }
  20% {
    -webkit-transform: translate(0);
            transform: translate(0); }
  26.66667% {
    -webkit-transform: translateY(2%);
            transform: translateY(2%); }
  33.33333% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes left-eye {
  2.66667% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); }
  3.33333% {
    -webkit-transform: scaleY(0.3);
            transform: scaleY(0.3); }
  4% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); }
  6.66667% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  9.33333% {
    -webkit-transform: scaleY(1) translateX(15%);
            transform: scaleY(1) translateX(15%); }
  10% {
    -webkit-transform: scaleY(0.8) translateX(15%);
            transform: scaleY(0.8) translateX(15%); }
  10.66667% {
    -webkit-transform: scaleY(1) translateX(15%);
            transform: scaleY(1) translateX(15%); }
  13.33333% {
    -webkit-transform: translateX(40%);
            transform: translateX(40%); }
  22% {
    -webkit-transform: scaleY(1) translateX(20%);
            transform: scaleY(1) translateX(20%); }
  22.66667% {
    -webkit-transform: scaleY(0.3) translateX(20%);
            transform: scaleY(0.3) translateX(20%); }
  23.33333% {
    -webkit-transform: scaleY(1) translateX(20%);
            transform: scaleY(1) translateX(20%); }
  25.33333% {
    -webkit-transform: scaleY(1) translateX(20%);
            transform: scaleY(1) translateX(20%); }
  26% {
    -webkit-transform: scaleY(0.3) translateX(20%);
            transform: scaleY(0.3) translateX(20%); }
  26.66667% {
    -webkit-transform: scaleY(1) translateX(20%);
            transform: scaleY(1) translateX(20%); }
  33.33333% {
    -webkit-transform: translateX(0) translateY(-50%);
            transform: translateX(0) translateY(-50%); }
  36% {
    -webkit-transform: scaleY(1) translateY(-50%);
            transform: scaleY(1) translateY(-50%); }
  36.66667% {
    -webkit-transform: scaleY(0.3) translateY(-50%);
            transform: scaleY(0.3) translateY(-50%); }
  37.33333% {
    -webkit-transform: scaleY(1) translateY(-40%);
            transform: scaleY(1) translateY(-40%); }
  38% {
    -webkit-transform: scaleY(1) translateY(-30%);
            transform: scaleY(1) translateY(-30%); }
  38.66667% {
    -webkit-transform: scaleY(0.3) translateY(-20%);
            transform: scaleY(0.3) translateY(-20%); }
  39.33333% {
    -webkit-transform: scaleY(1) translateY(-10%);
            transform: scaleY(1) translateY(-10%); }
  53.33333% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  65.33333% {
    -webkit-transform: scaleY(1) translateY(0);
            transform: scaleY(1) translateY(0); }
  66% {
    -webkit-transform: scaleY(0.3) translateY(0);
            transform: scaleY(0.3) translateY(0); }
  66.66667% {
    -webkit-transform: scaleY(1) translateY(0);
            transform: scaleY(1) translateY(0); }
  70% {
    -webkit-transform: scaleY(1) translateY(0);
            transform: scaleY(1) translateY(0); }
  70.66667% {
    -webkit-transform: scaleY(0.3) translateY(0);
            transform: scaleY(0.3) translateY(0); }
  71.33333% {
    -webkit-transform: scaleY(1) translateY(0);
            transform: scaleY(1) translateY(0); }
  73.33333% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%); }
  82% {
    -webkit-transform: scaleY(1) translateX(-20%);
            transform: scaleY(1) translateX(-20%); }
  82.66667% {
    -webkit-transform: scaleY(0.3) translateX(-20%);
            transform: scaleY(0.3) translateX(-20%); }
  83.33333% {
    -webkit-transform: scaleY(1) translateX(-30%);
            transform: scaleY(1) translateX(-30%); }
  85.33333% {
    -webkit-transform: scaleY(1) translateX(-30%);
            transform: scaleY(1) translateX(-30%); }
  86% {
    -webkit-transform: scaleY(0.3) translateX(-20%);
            transform: scaleY(0.3) translateX(-20%); }
  86.66667% {
    -webkit-transform: scaleY(1) translateX(-20%);
            transform: scaleY(1) translateX(-20%); } }

@keyframes left-eye {
  2.66667% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); }
  3.33333% {
    -webkit-transform: scaleY(0.3);
            transform: scaleY(0.3); }
  4% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); }
  6.66667% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  9.33333% {
    -webkit-transform: scaleY(1) translateX(15%);
            transform: scaleY(1) translateX(15%); }
  10% {
    -webkit-transform: scaleY(0.8) translateX(15%);
            transform: scaleY(0.8) translateX(15%); }
  10.66667% {
    -webkit-transform: scaleY(1) translateX(15%);
            transform: scaleY(1) translateX(15%); }
  13.33333% {
    -webkit-transform: translateX(40%);
            transform: translateX(40%); }
  22% {
    -webkit-transform: scaleY(1) translateX(20%);
            transform: scaleY(1) translateX(20%); }
  22.66667% {
    -webkit-transform: scaleY(0.3) translateX(20%);
            transform: scaleY(0.3) translateX(20%); }
  23.33333% {
    -webkit-transform: scaleY(1) translateX(20%);
            transform: scaleY(1) translateX(20%); }
  25.33333% {
    -webkit-transform: scaleY(1) translateX(20%);
            transform: scaleY(1) translateX(20%); }
  26% {
    -webkit-transform: scaleY(0.3) translateX(20%);
            transform: scaleY(0.3) translateX(20%); }
  26.66667% {
    -webkit-transform: scaleY(1) translateX(20%);
            transform: scaleY(1) translateX(20%); }
  33.33333% {
    -webkit-transform: translateX(0) translateY(-50%);
            transform: translateX(0) translateY(-50%); }
  36% {
    -webkit-transform: scaleY(1) translateY(-50%);
            transform: scaleY(1) translateY(-50%); }
  36.66667% {
    -webkit-transform: scaleY(0.3) translateY(-50%);
            transform: scaleY(0.3) translateY(-50%); }
  37.33333% {
    -webkit-transform: scaleY(1) translateY(-40%);
            transform: scaleY(1) translateY(-40%); }
  38% {
    -webkit-transform: scaleY(1) translateY(-30%);
            transform: scaleY(1) translateY(-30%); }
  38.66667% {
    -webkit-transform: scaleY(0.3) translateY(-20%);
            transform: scaleY(0.3) translateY(-20%); }
  39.33333% {
    -webkit-transform: scaleY(1) translateY(-10%);
            transform: scaleY(1) translateY(-10%); }
  53.33333% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  65.33333% {
    -webkit-transform: scaleY(1) translateY(0);
            transform: scaleY(1) translateY(0); }
  66% {
    -webkit-transform: scaleY(0.3) translateY(0);
            transform: scaleY(0.3) translateY(0); }
  66.66667% {
    -webkit-transform: scaleY(1) translateY(0);
            transform: scaleY(1) translateY(0); }
  70% {
    -webkit-transform: scaleY(1) translateY(0);
            transform: scaleY(1) translateY(0); }
  70.66667% {
    -webkit-transform: scaleY(0.3) translateY(0);
            transform: scaleY(0.3) translateY(0); }
  71.33333% {
    -webkit-transform: scaleY(1) translateY(0);
            transform: scaleY(1) translateY(0); }
  73.33333% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%); }
  82% {
    -webkit-transform: scaleY(1) translateX(-20%);
            transform: scaleY(1) translateX(-20%); }
  82.66667% {
    -webkit-transform: scaleY(0.3) translateX(-20%);
            transform: scaleY(0.3) translateX(-20%); }
  83.33333% {
    -webkit-transform: scaleY(1) translateX(-30%);
            transform: scaleY(1) translateX(-30%); }
  85.33333% {
    -webkit-transform: scaleY(1) translateX(-30%);
            transform: scaleY(1) translateX(-30%); }
  86% {
    -webkit-transform: scaleY(0.3) translateX(-20%);
            transform: scaleY(0.3) translateX(-20%); }
  86.66667% {
    -webkit-transform: scaleY(1) translateX(-20%);
            transform: scaleY(1) translateX(-20%); } }

@-webkit-keyframes right-eye {
  2.66667% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); }
  3.33333% {
    -webkit-transform: scaleY(0.3);
            transform: scaleY(0.3); }
  4% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); }
  6.66667% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  9.33333% {
    -webkit-transform: scaleY(1) translateX(15%);
            transform: scaleY(1) translateX(15%); }
  10% {
    -webkit-transform: scaleY(0.8) translateX(15%);
            transform: scaleY(0.8) translateX(15%); }
  10.66667% {
    -webkit-transform: scaleY(1) translateX(15%);
            transform: scaleY(1) translateX(15%); }
  13.33333% {
    -webkit-transform: translateX(40%);
            transform: translateX(40%); }
  22% {
    -webkit-transform: scaleY(1) translateX(20%);
            transform: scaleY(1) translateX(20%); }
  22.66667% {
    -webkit-transform: scaleY(0.3) translateX(20%);
            transform: scaleY(0.3) translateX(20%); }
  23.33333% {
    -webkit-transform: scaleY(1) translateX(20%);
            transform: scaleY(1) translateX(20%); }
  25.33333% {
    -webkit-transform: scaleY(1) translateX(20%);
            transform: scaleY(1) translateX(20%); }
  26% {
    -webkit-transform: scaleY(0.3) translateX(20%);
            transform: scaleY(0.3) translateX(20%); }
  26.66667% {
    -webkit-transform: scaleY(1) translateX(20%);
            transform: scaleY(1) translateX(20%); }
  33.33333% {
    -webkit-transform: translateX(0) translateY(-50%);
            transform: translateX(0) translateY(-50%); }
  36% {
    -webkit-transform: scaleY(1) translateY(-50%);
            transform: scaleY(1) translateY(-50%); }
  36.66667% {
    -webkit-transform: scaleY(0.3) translateY(-50%);
            transform: scaleY(0.3) translateY(-50%); }
  37.33333% {
    -webkit-transform: scaleY(1) translateY(-40%);
            transform: scaleY(1) translateY(-40%); }
  38% {
    -webkit-transform: scaleY(1) translateY(-30%);
            transform: scaleY(1) translateY(-30%); }
  38.66667% {
    -webkit-transform: scaleY(0.3) translateY(-20%);
            transform: scaleY(0.3) translateY(-20%); }
  39.33333% {
    -webkit-transform: scaleY(1) translateY(-10%);
            transform: scaleY(1) translateY(-10%); }
  53.33333% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  65.33333% {
    -webkit-transform: scaleY(1) translateY(0);
            transform: scaleY(1) translateY(0); }
  66% {
    -webkit-transform: scaleY(0.3) translateY(0);
            transform: scaleY(0.3) translateY(0); }
  66.66667% {
    -webkit-transform: scaleY(1) translateY(0);
            transform: scaleY(1) translateY(0); }
  70% {
    -webkit-transform: scaleY(1) translateY(0);
            transform: scaleY(1) translateY(0); }
  70.66667% {
    -webkit-transform: scaleY(0.3) translateY(0);
            transform: scaleY(0.3) translateY(0); }
  71.33333% {
    -webkit-transform: scaleY(1) translateY(0);
            transform: scaleY(1) translateY(0); }
  73.33333% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%); }
  82% {
    -webkit-transform: scaleY(1) translateX(-20%);
            transform: scaleY(1) translateX(-20%); }
  82.66667% {
    -webkit-transform: scaleY(0.3) translateX(-20%);
            transform: scaleY(0.3) translateX(-20%); }
  83.33333% {
    -webkit-transform: scaleY(1) translateX(-30%);
            transform: scaleY(1) translateX(-30%); }
  85.33333% {
    -webkit-transform: scaleY(1) translateX(-30%);
            transform: scaleY(1) translateX(-30%); }
  86% {
    -webkit-transform: scaleY(0.3) translateX(-20%);
            transform: scaleY(0.3) translateX(-20%); }
  86.66667% {
    -webkit-transform: scaleY(1) translateX(-20%);
            transform: scaleY(1) translateX(-20%); } }

@keyframes right-eye {
  2.66667% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); }
  3.33333% {
    -webkit-transform: scaleY(0.3);
            transform: scaleY(0.3); }
  4% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); }
  6.66667% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  9.33333% {
    -webkit-transform: scaleY(1) translateX(15%);
            transform: scaleY(1) translateX(15%); }
  10% {
    -webkit-transform: scaleY(0.8) translateX(15%);
            transform: scaleY(0.8) translateX(15%); }
  10.66667% {
    -webkit-transform: scaleY(1) translateX(15%);
            transform: scaleY(1) translateX(15%); }
  13.33333% {
    -webkit-transform: translateX(40%);
            transform: translateX(40%); }
  22% {
    -webkit-transform: scaleY(1) translateX(20%);
            transform: scaleY(1) translateX(20%); }
  22.66667% {
    -webkit-transform: scaleY(0.3) translateX(20%);
            transform: scaleY(0.3) translateX(20%); }
  23.33333% {
    -webkit-transform: scaleY(1) translateX(20%);
            transform: scaleY(1) translateX(20%); }
  25.33333% {
    -webkit-transform: scaleY(1) translateX(20%);
            transform: scaleY(1) translateX(20%); }
  26% {
    -webkit-transform: scaleY(0.3) translateX(20%);
            transform: scaleY(0.3) translateX(20%); }
  26.66667% {
    -webkit-transform: scaleY(1) translateX(20%);
            transform: scaleY(1) translateX(20%); }
  33.33333% {
    -webkit-transform: translateX(0) translateY(-50%);
            transform: translateX(0) translateY(-50%); }
  36% {
    -webkit-transform: scaleY(1) translateY(-50%);
            transform: scaleY(1) translateY(-50%); }
  36.66667% {
    -webkit-transform: scaleY(0.3) translateY(-50%);
            transform: scaleY(0.3) translateY(-50%); }
  37.33333% {
    -webkit-transform: scaleY(1) translateY(-40%);
            transform: scaleY(1) translateY(-40%); }
  38% {
    -webkit-transform: scaleY(1) translateY(-30%);
            transform: scaleY(1) translateY(-30%); }
  38.66667% {
    -webkit-transform: scaleY(0.3) translateY(-20%);
            transform: scaleY(0.3) translateY(-20%); }
  39.33333% {
    -webkit-transform: scaleY(1) translateY(-10%);
            transform: scaleY(1) translateY(-10%); }
  53.33333% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  65.33333% {
    -webkit-transform: scaleY(1) translateY(0);
            transform: scaleY(1) translateY(0); }
  66% {
    -webkit-transform: scaleY(0.3) translateY(0);
            transform: scaleY(0.3) translateY(0); }
  66.66667% {
    -webkit-transform: scaleY(1) translateY(0);
            transform: scaleY(1) translateY(0); }
  70% {
    -webkit-transform: scaleY(1) translateY(0);
            transform: scaleY(1) translateY(0); }
  70.66667% {
    -webkit-transform: scaleY(0.3) translateY(0);
            transform: scaleY(0.3) translateY(0); }
  71.33333% {
    -webkit-transform: scaleY(1) translateY(0);
            transform: scaleY(1) translateY(0); }
  73.33333% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%); }
  82% {
    -webkit-transform: scaleY(1) translateX(-20%);
            transform: scaleY(1) translateX(-20%); }
  82.66667% {
    -webkit-transform: scaleY(0.3) translateX(-20%);
            transform: scaleY(0.3) translateX(-20%); }
  83.33333% {
    -webkit-transform: scaleY(1) translateX(-30%);
            transform: scaleY(1) translateX(-30%); }
  85.33333% {
    -webkit-transform: scaleY(1) translateX(-30%);
            transform: scaleY(1) translateX(-30%); }
  86% {
    -webkit-transform: scaleY(0.3) translateX(-20%);
            transform: scaleY(0.3) translateX(-20%); }
  86.66667% {
    -webkit-transform: scaleY(1) translateX(-20%);
            transform: scaleY(1) translateX(-20%); } }

/* ----- animated image end ----- */
.profile-img {
  padding: 50px auto; }

/* ===== main ===== */
/* ===== main END ===== */
@media only screen and (max-width: 700px) {
  .section-wrapper {
    padding: 40px 0; }
  .block-row__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .block-row__contacts a {
      margin: 10px 0; }
      .block-row__contacts a .fa {
        width: 40px;
        font-size: 40px; }
  .skills-block {
    max-width: 100%;
    width: auto;
    margin-right: 0; }
  .two-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .two-col .block-col {
      width: 100%;
      margin: 20px 0 0;
      padding: 0 20px; }
  .wrapper-img {
    margin: auto; }
  .examples-sign {
    display: block;
    margin: -30px auto 0;
    text-align: center; }
  .block-col__experience {
    margin: 40px 0; }
    .block-col__experience .two-col {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; } }
